body{
    margin:0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    display:flex;
    background-color: #1F2937;
    justify-content:center;

}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;

    
}

.links{
    display:flex;
    margin-left:auto;
    font-size:18px;
    color:#e5e7eb;
    gap:20px;
}

.Main{
    display: flex;
}

.content,.placeholder{
    display:flex;
    flex:1 1 200px;;
}

.content{
    margin-right:20px;
    flex-direction: column;


}
.placeholder{
    display: flex;
    align-items: center;
    justify-content: center;

}

.signUp{
    width:100px;
}
img{
    height:100px;
    width: 100px;
    border: solid 2px #3882F6;
    padding:5px;
    border-radius: 5px;
}

.pictures{
    display: flex;
    justify-content: space-evenly;
}

.text{

    text-align:center;
    justify-content: center;
}
.message{
    padding-top:100px;
    padding-bottom: 75px;
    background-color: #e5e7eb;
}
.callToAction{
    background-color: #3882f6;

}

.callText{
    
    text-align:center;
}


